/data
things/jarvisled.pyc
article/__latexindent_temp.tex
article/samplepaper.aux
article/samplepaper.bbl
article/samplepaper.blg
article/samplepaper.fdb_latexmk
article/samplepaper.fls
article/samplepaper.log
article/samplepaper.pdf
article/samplepaper.synctex.gz
article/fig1-eps-converted-to.pdf
